include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dcat_switzerland *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dcat_switzerland/migration *.ini *.py *.mako
